body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.header {
    width: 100%;
    text-align: center;
    background-color: #87CEEB;
    padding: 10px 0;
}

.logo {
    max-width: 150px;
}

.login-container {
    max-width: 420px;
    margin: 90px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.login-container h1 {
    font-size: 36px;
    margin-bottom: 25px;
    color: #333333;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 15px; 
}
.password-input {
    width: 100%;
    padding: 10px;
    margin: 0; 
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 17px;
}
.submit-button {
    width: 100%; 
    padding: 15px; 
    background-color: #0077b6; 
    color: black; 
    border: none;
    border-radius: 8px; 
    font-size: 17px; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.submit-button:hover {
    background-color: #005f87; 
}
.error-message {
    font-size: 14px;
    color: red;
    margin-top: 5px;
    text-align: center;
}

