h1 {
    font-family: 'Playfair Display', serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.header {
    background-color: #87CEEB;
    padding: 10px 0;
    text-align: center;
}

.logo {
    
    width: 110px;
    height: 110px;
}



h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.qnt {   
    position: relative;
    top: 150px;
    left: 100px;
    width: 100%;
    max-width: 175px;
    padding: 10px 15px;
    font-size: 16px;
    color: #87CEEB;
    border: 2px solid #87CEEB;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.qnt:focus {
    border-color: #87CEEB;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

