body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #87CEEB;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    color: black;
    font-size: 27px; 
    text-align: center; 
    margin: 10px 0;
}

header .button {
    background-color: #246681;
    color: #e2eef3;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
}

header .button:hover {
    background-color: #3987a5;
    color: #e9f0f3;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #87CEEB;
}

th {
    background-color: #1e7a9e;
    color: white;
}

button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#modalEditar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #246681;
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0 0 15px rgb(237, 237, 239);
}

.btn-editar {
    background-color:#246681;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-editar:hover {
    background-color: #91c8de;
}

.btn-excluir {
    background-color: #246681;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-excluir:hover {
    background-color:#91bbcb;
}
